<!DOCTYPE html>
<html>
  <head>
    <title>Rails2HOT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
	  	<div class="title">
			<h1>Veeva Systems Doctor Perscription KPIs</h1>
		</div>
		</br>
		<div class="holder">
			<%= link_to "Home", articles_path, class:"button"%>
			<%= link_to "Top Doctors", top_doctor_topdoctor_path, class:"button"%>
			<%= link_to "Trends", trends_trends_path, class:"button"%>
			<%= link_to "Top Targets", top_target_toptarget_path, class:"button"%>
		</div>
	</header>
	<article>
	  	<div class="lines">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
	  	</div>
	 	
		<%= yield %>
    <article>
    <footer class="footer">
    	<div class="flex-container">
			<div class="flex-child magenta">
				</br>
				<h1>Created For: Hack Ohio 2021, Veeva Systems</h1>
				<h1>Created By: Andrew Connors, Alex Hass, Noah Hufnagel, Derek Nelson</h1>
				<h1>Credit To: Veeva Systems for the data source</h1>
		    </div>
		    <div class="flex-child green">
		    	<%= link_to "https://www.veeva.com/" do %>
   					<%= image_tag "veeva-v-shot_4x.png", class:"logo" %>
				<% end %>
		    </div>
		  
		</div>
    </footer>
  </body>
</html>
