<!DOCTYPE html>
<html>
  <head>
    <title>Rails2HOT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 	<div class="title">
	<h1>Veeva Systems Doctor Perscription KPI</h1>
	</div>
	<ul>
		<%= link_to "Home", articles_path,class:"navbarItem" %>
		<%= link_to "Top Doctors", top_doctor_topdoctor_path,class:"navbarItem" %>
		<%= link_to "Trends", trends_trends_path,class:"navbarItem" %>
		<%= link_to "Top Targets", top_target_toptarget_path,class:"navbarItem" %>
	</ul>
    <%= yield %>
  </body>
</html>
